#about{
    color:white;
    font-family: sans-serif;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:white;
    border:5px;
    border-style:solid;
    border-radius: 30px;
    width:650px;
    margin:2% auto;
    padding:20px;
    margin-top: 20px;
    /* flex-wrap: wrap; */
}
p{
   
    font-size: 20px;
}
@media all and (max-width: 480px){
    .about{
        flex-direction: column;
        width: auto;
    }
}